.button{
display: flex;
padding-top: 10px;
background-color:#F9A826;
border-radius: 10px;
border: none;
}
.btn_title{
   color:#FFF ;
   margin-left: 20px 
}
.btn_img{
   margin-bottom: 15px;
   margin-right: 10%;
}


 
